# Collaborative Filtering

In this notebook we will be using a memory-based recommender system for collaborative filtering. We will be working with the 'Movie Recommendation System' dataset from Kaggle.com. The question we will be trying to solve will be, can we name the top 5 movie recommendations for a user, and can we predict their rating? At the end of this notebook we should be able to list the top 5 highest rankings for a particular user along with their predicted ranking. We start by importing the two data sets and merging them into one. We then remove the title column so that we can easily work with the scikit library 'surprise' which will work with 'user_id', 'item_id', and 'ranking'. We can then use the item id to make the id back to the title of the movie if we choose to do so.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in data
df = pd.read_csv("C:/Users/ryans/Documents/Predictive Modeling/Collaborative Filtering/Data/Dataset.csv")

In [3]:
# view first 5 rows
df.head(n=5)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [4]:
# read in titles data frame 
df_titles = pd.read_csv("C:/Users/ryans/Documents/Predictive Modeling/Collaborative Filtering/Data/Movie_Id_Titles.csv")

In [5]:
# view head of titles
df_titles

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

## Preprocessing

In [6]:
# merge the two using item_id
data = pd.merge(df, df_titles, on = 'item_id' )
# view first 5 rows
data

,user_id,item_id,rating,timestamp,title
0,0,50,5,881250949,Star Wars (1977)
1,290,50,5,880473582,Star Wars (1977)
2,79,50,4,891271545,Star Wars (1977)
3,2,50,5,888552084,Star Wars (1977)
4,8,50,5,879362124,Star Wars (1977)
...,...,...,...,...,...
99998,840,1674,4,891211682,Mamma Roma (1962)
99999,655,1640,3,888474646,"Eighth Day, The (1996)"
100000,655,1637,3,888984255,Girls Town (1996)
100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,887427810,Dadetown (1995)

In [7]:
# drop timestamp 
data.drop('timestamp', axis = 1, inplace = True)

In [8]:
# view our data frame
data

,user_id,item_id,rating,title
0,0,50,5,Star Wars (1977)
1,290,50,5,Star Wars (1977)
2,79,50,4,Star Wars (1977)
3,2,50,5,Star Wars (1977)
4,8,50,5,Star Wars (1977)
...,...,...,...,...
99998,840,1674,4,Mamma Roma (1962)
99999,655,1640,3,"Eighth Day, The (1996)"
100000,655,1637,3,Girls Town (1996)
100001,655,1630,3,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,Dadetown (1995)

In [9]:
# get info 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  100003 non-null  int64
 1   item_id  100003 non-null  int64
 2   rating   100003 non-null  int64
 3   title    100003 non-null  object
dtypes: int64(3), object(1)
memory usage: 3.8+ MB

In [10]:
# sort by user_id
data.sort_values(by = ['user_id'], inplace = True)
data

       user_id  item_id  rating                            title
0            0       50       5                 Star Wars (1977)
952          0      133       1        Gone with the Wind (1939)
584          0      172       5  Empire Strikes Back, The (1980)
69223        1       72       4                 Mask, The (1994)
35889        1       82       5             Jurassic Park (1993)
...        ...      ...     ...                              ...
55019      943       58       4                 Quiz Show (1994)
81124      943      205       5                    Patton (1970)
53804      943      720       1              First Knight (1995)
24257      943      794       3    It Could Happen to You (1994)
98613      943     1330       3   An Unforgettable Summer (1994)

[100003 rows x 4 columns]

In [11]:
# check for any duplicates
len(data)-len(data.drop_duplicates())

0

In [13]:
# create a pivot table to view ratings of each movie
movie_pivot = data.pivot_table(index = 'user_id', columns = 'title', values = 'rating')
# view pivot table
movie_pivot

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

### Importing Surprise Library

The next part of the process is to import the surprise library with a Reader, Dataset, and model. We will be using KNNWithMeans to produce our model.

In [21]:
from surprise import Reader
from surprise import Dataset
from surprise import KNNWithMeans
from surprise.model_selection import train_test_split

In [22]:
# create reader
reader = Reader(rating_scale = (1, 5))
# load df
movie = Dataset.load_from_df(data[['user_id', 'item_id', 'rating']], reader=reader)

In [23]:
# we will be using item-item centered cosine similarity
sim_options = {
    "name": "pearson",
    "user_based": False,  # compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [24]:
# create a training and testing set that our model will be fit and tested on.
trainset, testset = train_test_split(movie, test_size = 0.2)

In [25]:
# set up a full data trainset that we can use for cross-validation
train_set_full = movie.build_full_trainset()

#### RAW AND INNER IDS

One issue with the surprise library is that the identifiers of our data will be changed so that the library can work with the numbers. The data that we input will be called raw ids and the identifiers that they are changed to will be called the inner ids. For example, our raw user id will be called raw_uid and it will be the id of a user, such as user 178. To get an idea of who is involved in our training sets and what movies were involved we can execute the following code to change the inner ids to the raw ids. This will help us when making our predictions.

In [26]:
# raw and inner ids - items
trainset_iids = list(trainset.all_items()) # integers starting from 0
# convert to raw - these are the movies used in the trainset
iid_converter = lambda x: trainset.to_raw_iid(x)
trainset_raw_ids = list(map(iid_converter, trainset_iids))
trainset_raw_ids

[293,
 921,
 153,
 98,
 496,
 1197,
 864,
 265,
 421,
 210,
 1514,
 648,
 531,
 62,
 476,
 193,
 286,
 693,
 327,
 172,
 553,
 65,
 665,
 443,
 381,
 251,
 29,
 157,
 795,
 470,
 367,
 259,
 235,
 883,
 494,
 716,
 232,
 276,
 97,
 722,
 199,
 202,
 294,
 181,
 499,
 174,
 308,
 15,
 436,
 622,
 173,
 845,
 187,
 64,
 280,
 169,
 188,
 879,
 1536,
 323,
 930,
 511,
 673,
 588,
 121,
 333,
 640,
 321,
 182,
 258,
 475,
 273,
 1095,
 515,
 239,
 809,
 1048,
 629,
 1225,
 135,
 1040,
 111,
 21,
 378,
 58,
 408,
 479,
 27,
 465,
 257,
 562,
 481,
 23,
 962,
 42,
 201,
 566,
 313,
 127,
 636,
 1097,
 1011,
 614,
 12,
 699,
 196,
 924,
 86,
 696,
 413,
 11,
 418,
 186,
 357,
 458,
 628,
 231,
 4,
 551,
 617,
 330,
 506,
 291,
 720,
 237,
 195,
 794,
 827,
 649,
 632,
 155,
 471,
 1098,
 735,
 461,
 331,
 569,
 482,
 625,
 303,
 324,
 1,
 227,
 223,
 249,
 124,
 44,
 763,
 207,
 1139,
 736,
 2,
 328,
 1169,
 90,
 988,
 512,
 606,
 1183,
 302,
 1001,
 646,
 960,
 95,
 91,
 402,
 300,
 346,
 749,
 433,
 873,
 263,
 1118,
 596,
 168,
 469,
 282,
 139,
 510,
 176,
 209,
 88,
 143,
 654,
 106,
 485,
 100,
 270,
 900,
 658,
 96,
 132,
 305,
 678,
 747,
 540,
 751,
 527,
 849,
 275,
 1047,
 19,
 83,
 432,
 1244,
 590,
 409,
 180,
 1219,
 642,
 118,
 925,
 148,
 705,
 191,
 123,
 866,
 269,
 252,
 25,
 457,
 385,
 1372,
 1117,
 1093,
 497,
 141,
 10,
 70,
 688,
 288,
 89,
 968,
 525,
 627,
 739,
 781,
 189,
 226,
 655,
 483,
 1555,
 340,
 7,
 789,
 50,
 56,
 245,
 167,
 99,
 190,
 352,
 1401,
 708,
 215,
 74,
 1184,
 756,
 222,
 347,
 45,
 28,
 162,
 49,
 1423,
 431,
 732,
 253,
 942,
 268,
 1214,
 216,
 772,
 872,
 620,
 134,
 254,
 87,
 183,
 715,
 405,
 396,
 1267,
 403,
 117,
 480,
 13,
 552,
 363,
 419,
 260,
 133,
 474,
 1070,
 341,
 529,
 1336,
 1412,
 493,
 159,
 1415,
 441,
 145,
 292,
 1154,
 427,
 1079,
 591,
 79,
 165,
 238,
 902,
 505,
 32,
 125,
 344,
 682,
 161,
 230,
 184,
 243,
 322,
 261,
 607,
 760,
 501,
 152,
 650,
 129,
 283,
 1018,
 3,
 264,
 1258,
 840,
 234,
 834,
 1021,
 194,
 567,
 1270,
 1014,
 1170,
 170,
 198,
 24,
 1065,
 848,
 17,
 514,
 9,
 1558,
 200,
 813,
 228,
 702,
 205,
 31,
 318,
 761,
 329,
 204,
 92,
 404,
 102,
 203,
 8,
 939,
 316,
 1255,
 423,
 85,
 582,
 462,
 375,
 684,
 59,
 407,
 690,
 670,
 841,
 14,
 871,
 136,
 447,
 255,
 463,
 179,
 641,
 380,
 1009,
 289,
 1642,
 659,
 213,
 1419,
 1262,
 477,
 748,
 631,
 69,
 572,
 1314,
 1029,
 1060,
 399,
 660,
 147,
 671,
 410,
 559,
 120,
 538,
 368,
 504,
 639,
 445,
 151,
 746,
 495,
 550,
 487,
 941,
 35,
 211,
 61,
 916,
 853,
 502,
 604,
 233,
 38,
 509,
 1042,
 417,
 657,
 706,
 1210,
 1245,
 679,
 974,
 1182,
 156,
 578,
 361,
 1035,
 741,
 82,
 1174,
 661,
 55,
 710,
 1393,
 310,
 603,
 797,
 320,
 633,
 697,
 523,
 734,
 284,
 248,
 947,
 685,
 949,
 290,
 526,
 274,
 729,
 518,
 484,
 221,
 370,
 384,
 663,
 72,
 77,
 1274,
 1675,
 1203,
 583,
 558,
 546,
 52,
 208,
 66,
 301,
 80,
 339,
 332,
 334,
 723,
 1053,
 539,
 197,
 312,
 450,
 472,
 1273,
 272,
 212,
 81,
 1137,
 1019,
 406,
 1150,
 164,
 920,
 281,
 940,
 144,
 1109,
 707,
 1296,
 948,
 520,
 285,
 266,
 71,
 1126,
 868,
 516,
 928,
 580,
 158,
 1483,
 824,
 1113,
 651,
 354,
 68,
 218,
 820,
 150,
 896,
 1026,
 414,
 819,
 315,
 874,
 1456,
 541,
 517,
 1017,
 411,
 977,
 114,
 1069,
 1132,
 595,
 240,
 709,
 242,
 1147,
 425,
 805,
 122,
 1478,
 116,
 73,
 326,
 895,
 806,
 26,
 20,
 307,
 959,
 358,
 1240,
 1103,
 177,
 229,
 1016,
 22,
 808,
 1024,
 544,
 1260,
 175,
 597,
 1217,
 955,
 1480,
 802,
 790,
 108,
 298,
 610,
 951,
 250,
 76,
 366,
 60,
 490,
 131,
 428,
 359,
 1142,
 1074,
 652,
 644,
 389,
 528,
 869,
 892,
 944,
 1115,
 886,
 934,
 1062,
 356,
 1277,
 435,
 647,
 692,
 991,
 612,
 689,
 57,
 576,
 309,
 796,
 393,
 880,
 126,
 1149,
 277,
 343,
 835,
 611,
 166,
 995,
 1013,
 986,
 394,
 770,
 1157,
 815,
 818,
 727,
 452,
 903,
 220,
 826,
 54,
 1025,
 163,
 386,
 519,
 1396,
 1030,
 295,
 459,
 473,
 236,
 1050,
 964,
 810,
 1573,
 1540,
 392,
 478,
 1246,
 713,
 1160,
 875,
 429,
 256,
 350,
 581,
 1033,
 721,
 271,
 47,
 587,
 387,
 319,
 585,
 325,
 922,
 1283,
 584,
 178,
 1063,
 1335,
 1239,
 287,
 1350,
 899,
 740,
 780,
 1466,
 1218,
 823,
 762,
 498,
 753,
 486,
 969,
 953,
 241,
 1072,
 618,
 217,
 1092,
 1167,
 1180,
 488,
 101,
 1037,
 752,
 355,
 395,
 507,
 910,
 1163,
 336,
 63,
 345,
 365,
 838,
 219,
 146,
 1166,
 971,
 468,
 1388,
 548,
 717,
 1211,
 931,
 674,
 742,
 1226,
 1404,
 616,
 464,
 455,
 750,
 434,
 724,
 542,
 154,
 731,
 1067,
 33,
 1230,
 451,
 424,
 1039,
 1152,
 1108,
 262,
 1263,
 915,
 1220,
 138,
 1051,
 1451,
 672,
 39,
 963,
 561,
 137,
 570,
 700,
 185,
 1091,
 635,
 563,
 680,
 420,
 444,
 783,
 317,
 1012,
 391,
 985,
 382,
 954,
 568,
 984,
 1089,
 613,
 43,
 224,
 48,
 605,
 16,
 1468,
 1282,
 513,
 1046,
 1045,
 1055,
 128,
 778,
 1228,
 656,
 919,
 932,
 754,
 412,
 1427,
 573,
 1620,
 950,
 398,
 342,
 1291,
 831,
 554,
 278,
 1101,
 1289,
 1175,
 335,
 1537,
 1309,
 521,
 989,
 388,
 299,
 279,
 676,
 40,
 401,
 1068,
 400,
 206,
 906,
 1054,
 508,
 1135,
 1028,
 537,
 1140,
 1331,
 600,
 500,
 530,
 619,
 956,
 1007,
 1231,
 737,
 890,
 744,
 560,
 1164,
 1399,
 140,
 1623,
 861,
 1034,
 1446,
 84,
 449,
 615,
 1073,
 1110,
 1177,
 1010,
 1000,
 863,
 51,
 638,
 743,
 1003,
 855,
 881,
 1198,
 373,
 306,
 952,
 1195,
 1188,
 1171,
 1199,
 694,
 859,
 975,
 214,
 936,
 811,
 1303,
 786,
 547,
 107,
 703,
 775,
 945,
 1384,
 785,
 171,
 728,
 53,
 1206,
 1202,
 1496,
 630,
 704,
 1209,
 556,
 246,
 93,
 832,
 1610,
 1116,
 1136,
 837,
 905,
 78,
 917,
 430,
 351,
 94,
 1187,
 1311,
 828,
 792,
 1041,
 1124,
 1205,
 1431,
 755,
 532,
 1379,
 192,
 371,
 768,
 225,
 923,
 1066,
 1307,
 549,
 575,
 982,
 338,
 586,
 898,
 893,
 109,
 829,
 825,
 1598,
 800,
 774,
 993,
 491,
 1119,
 1005,
 904,
 1100,
 1428,
 390,
 637,
 686,
 1086,
 965,
 912,
 376,
 793,
 1176,
 1194,
 1242,
 379,
 1215,
 1287,
 67,
 662,
 767,
 1481,
 30,
 466,
 1315,
 1432,
 1615,
 1531,
 383,
 369,
 1008,
 846,
 979,
 653,
 623,
 372,
 1374,
 442,
 1290,
 1023,
 929,
 142,
 943,
 1278,
 1648,
 557,
 1081,
 1505,
 ...]

In [27]:
# raw and inner ids - users
trainset_uids = list(trainset.all_users())
# convert the users to raw - these are the users in the trainset
uid_converter = lambda x: trainset.to_raw_uid(x)
trainset_raw_uids = list(map(uid_converter, trainset_uids))
trainset_raw_uids

[293,
 405,
 788,
 700,
 566,
 151,
 612,
 7,
 116,
 664,
 716,
 806,
 450,
 76,
 452,
 862,
 804,
 681,
 381,
 177,
 232,
 122,
 707,
 932,
 18,
 64,
 379,
 174,
 269,
 314,
 271,
 618,
 532,
 779,
 696,
 6,
 345,
 561,
 200,
 821,
 210,
 401,
 158,
 650,
 712,
 535,
 332,
 489,
 391,
 28,
 267,
 621,
 630,
 399,
 498,
 198,
 533,
 514,
 687,
 385,
 576,
 852,
 567,
 312,
 749,
 907,
 179,
 545,
 65,
 568,
 22,
 538,
 393,
 658,
 279,
 839,
 274,
 244,
 872,
 458,
 539,
 910,
 435,
 743,
 16,
 298,
 432,
 207,
 878,
 774,
 90,
 864,
 889,
 646,
 645,
 144,
 653,
 901,
 57,
 234,
 601,
 795,
 297,
 99,
 851,
 771,
 459,
 303,
 406,
 313,
 70,
 780,
 168,
 833,
 270,
 553,
 592,
 43,
 197,
 663,
 934,
 145,
 288,
 709,
 870,
 239,
 468,
 635,
 94,
 911,
 149,
 456,
 408,
 60,
 738,
 826,
 643,
 243,
 869,
 500,
 597,
 1,
 135,
 660,
 194,
 442,
 328,
 373,
 75,
 758,
 342,
 254,
 348,
 322,
 509,
 374,
 344,
 766,
 828,
 577,
 617,
 648,
 445,
 762,
 868,
 462,
 36,
 181,
 644,
 472,
 336,
 195,
 13,
 42,
 447,
 66,
 495,
 326,
 24,
 44,
 92,
 846,
 912,
 748,
 280,
 308,
 95,
 422,
 212,
 732,
 290,
 624,
 113,
 276,
 831,
 429,
 85,
 330,
 475,
 411,
 918,
 14,
 291,
 354,
 916,
 775,
 178,
 649,
 38,
 504,
 339,
 506,
 600,
 913,
 897,
 757,
 764,
 896,
 311,
 301,
 886,
 810,
 26,
 457,
 761,
 296,
 711,
 848,
 81,
 756,
 636,
 453,
 787,
 579,
 10,
 327,
 222,
 372,
 382,
 903,
 383,
 487,
 581,
 233,
 652,
 193,
 741,
 407,
 284,
 835,
 640,
 880,
 59,
 417,
 474,
 698,
 128,
 363,
 542,
 747,
 426,
 350,
 642,
 536,
 666,
 437,
 305,
 923,
 593,
 685,
 416,
 551,
 294,
 249,
 902,
 23,
 933,
 534,
 133,
 255,
 338,
 8,
 325,
 175,
 776,
 608,
 502,
 478,
 791,
 170,
 96,
 236,
 883,
 346,
 488,
 508,
 189,
 754,
 216,
 320,
 606,
 847,
 3,
 160,
 31,
 190,
 256,
 854,
 238,
 927,
 673,
 87,
 483,
 398,
 497,
 370,
 21,
 770,
 719,
 436,
 161,
 125,
 751,
 343,
 586,
 396,
 367,
 523,
 585,
 307,
 63,
 805,
 546,
 275,
 479,
 321,
 899,
 924,
 110,
 622,
 262,
 223,
 454,
 208,
 295,
 524,
 268,
 225,
 677,
 627,
 277,
 574,
 894,
 448,
 548,
 62,
 214,
 661,
 117,
 639,
 368,
 588,
 881,
 201,
 378,
 215,
 304,
 25,
 695,
 796,
 69,
 940,
 520,
 943,
 119,
 289,
 799,
 83,
 760,
 503,
 235,
 403,
 843,
 659,
 768,
 49,
 157,
 260,
 887,
 867,
 334,
 287,
 537,
 196,
 246,
 299,
 84,
 620,
 731,
 610,
 616,
 217,
 209,
 790,
 329,
 679,
 40,
 746,
 402,
 724,
 505,
 324,
 634,
 286,
 807,
 629,
 655,
 812,
 793,
 292,
 560,
 573,
 180,
 836,
 467,
 671,
 605,
 387,
 37,
 183,
 871,
 569,
 734,
 82,
 936,
 860,
 485,
 106,
 455,
 109,
 705,
 938,
 58,
 733,
 676,
 121,
 2,
 641,
 425,
 389,
 147,
 349,
 853,
 102,
 380,
 713,
 316,
 782,
 699,
 143,
 35,
 184,
 515,
 518,
 253,
 562,
 152,
 104,
 72,
 114,
 134,
 263,
 331,
 875,
 744,
 786,
 892,
 130,
 248,
 410,
 471,
 5,
 823,
 611,
 272,
 394,
 619,
 715,
 463,
 745,
 690,
 815,
 493,
 921,
 20,
 357,
 721,
 77,
 763,
 772,
 159,
 221,
 615,
 476,
 213,
 858,
 942,
 123,
 844,
 873,
 904,
 361,
 753,
 919,
 352,
 814,
 584,
 61,
 359,
 460,
 694,
 226,
 877,
 607,
 185,
 371,
 465,
 4,
 725,
 884,
 527,
 682,
 108,
 46,
 315,
 499,
 415,
 708,
 939,
 137,
 669,
 691,
 264,
 153,
 390,
 752,
 365,
 78,
 558,
 742,
 583,
 798,
 834,
 832,
 187,
 840,
 737,
 885,
 519,
 496,
 73,
 211,
 727,
 800,
 591,
 56,
 240,
 704,
 890,
 93,
 654,
 717,
 318,
 409,
 323,
 686,
 358,
 550,
 439,
 818,
 915,
 115,
 98,
 922,
 464,
 850,
 356,
 594,
 547,
 510,
 602,
 176,
 68,
 484,
 781,
 598,
 633,
 91,
 52,
 559,
 132,
 803,
 347,
 251,
 665,
 192,
 720,
 466,
 283,
 433,
 32,
 697,
 97,
 908,
 647,
 449,
 273,
 224,
 521,
 48,
 517,
 522,
 684,
 250,
 88,
 384,
 680,
 825,
 678,
 689,
 625,
 33,
 811,
 565,
 736,
 9,
 186,
 859,
 530,
 829,
 247,
 675,
 507,
 111,
 15,
 656,
 693,
 623,
 481,
 552,
 587,
 188,
 526,
 443,
 792,
 874,
 777,
 824,
 340,
 541,
 632,
 164,
 397,
 802,
 797,
 614,
 931,
 231,
 486,
 306,
 206,
 89,
 590,
 54,
 531,
 230,
 861,
 430,
 141,
 71,
 819,
 470,
 543,
 420,
 778,
 154,
 79,
 876,
 131,
 169,
 366,
 285,
 849,
 166,
 112,
 930,
 355,
 494,
 167,
 362,
 692,
 512,
 662,
 773,
 17,
 182,
 101,
 451,
 440,
 360,
 557,
 473,
 423,
 333,
 19,
 759,
 718,
 882,
 638,
 564,
 525,
 710,
 428,
 613,
 50,
 118,
 895,
 789,
 767,
 103,
 129,
 572,
 842,
 905,
 229,
 155,
 893,
 794,
 856,
 51,
 670,
 30,
 266,
 722,
 491,
 554,
 920,
 914,
 728,
 388,
 555,
 599,
 501,
 540,
 165,
 414,
 631,
 492,
 755,
 703,
 863,
 12,
 278,
 404,
 41,
 879,
 138,
 438,
 891,
 227,
 100,
 55,
 140,
 412,
 838,
 674,
 124,
 490,
 626,
 156,
 258,
 419,
 578,
 571,
 841,
 392,
 86,
 126,
 544,
 351,
 480,
 205,
 80,
 162,
 427,
 668,
 830,
 556,
 11,
 926,
 400,
 150,
 900,
 595,
 628,
 282,
 265,
 142,
 706,
 714,
 220,
 127,
 469,
 241,
 377,
 783,
 257,
 47,
 582,
 603,
 261,
 136,
 563,
 281,
 726,
 928,
 259,
 204,
 604,
 683,
 173,
 171,
 609,
 107,
 701,
 218,
 302,
 529,
 27,
 817,
 45,
 310,
 865,
 837,
 516,
 441,
 750,
 67,
 148,
 395,
 528,
 672,
 191,
 444,
 925,
 74,
 637,
 935,
 105,
 434,
 857,
 219,
 801,
 822,
 386,
 765,
 252,
 53,
 769,
 337,
 730,
 29,
 163,
 335,
 735,
 146,
 418,
 139,
 580,
 446,
 199,
 784,
 739,
 866,
 413,
 120,
 364,
 667,
 702,
 482,
 203,
 589,
 511,
 813,
 421,
 888,
 785,
 808,
 917,
 723,
 319,
 937,
 172,
 341,
 906,
 855,
 549,
 424,
 513,
 657,
 477,
 39,
 909,
 309,
 651,
 237,
 575,
 809,
 202,
 376,
 898,
 317,
 827,
 431,
 34,
 688,
 300,
 596,
 242,
 816,
 941,
 570,
 929,
 353,
 245,
 369,
 228,
 375,
 740,
 845,
 820,
 461,
 729,
 0]

In [28]:
# now we can fit our algo model to our trainset.
algo.fit(trainset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [29]:
# check the accuracy of our model
from surprise import accuracy

In [30]:
# get predictions
predictions = algo.test(testset)
# RMSE
rmse = accuracy.rmse(predictions)
# MAE
mae = accuracy.mae(predictions)

RMSE: 0.9459
MAE:  0.7431

### Cross Validation

In [31]:
# import cross validation 
from surprise.model_selection import cross_validate

In [32]:
# set up a variable for cross validation
cross_val = cross_validate(
    algo = algo,
    data = movie,
    measures = ['RMSE'],
    cv = 5,
    return_train_measures = True
)

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [33]:
# analyze the results - view the test rmse for each fold
cross_val['test_rmse']

array([0.93638822, 0.94037869, 0.94220828, 0.94134178, 0.94774672])

In [34]:
# train algo on full data set
algo.fit(train_set_full)

Computing the pearson similarity matrix...
Done computing similarity matrix.

### Predictions

The way that predictions work with the surprise library is that we need to identify a specific user that was involved in our data set to make the prediction on. This means we cannot make any predictions on new users which is a draw back of the memory based KNNWithMeans model. However, for a user that is in our data set and has not submitted a rating of a movie, we can use the predict method which will make a prediction for the given item for the specified user. For example, we can predict the rating that user 7 will have on the Star Wars movie. To do so we will use the raw data. The prediction is labeled 'est' and we see that we predict this user to give Star Wars a 3.5 rating. The prediction also has a r_ui = None which tells us that this user did not have a rating for this movie. Based off of our RMSE of roughly .9 we can say that on average we are off by almost 1 with each rating. For a rating from 1-5 this is not very good for us. These results will help for those who are predicted a score such as 5 or 1 because being off by one rating point will still recommend a movie that the user likes and still accurately predict a movie that they would not like, but for our example of 3.5 if we are off by 1 and do not recommend this movie to the user there is a chance they would have actually rated it a 4.5 and we missed out on recommending them a movie that they loved.

In [37]:
# make a prediction of user 7 for star wars
algo.predict(uid = '7', iid = '50')

Prediction(uid='7', iid='50', r_ui=None, est=3.5298641040768777, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

### GridSearchCV

The surprise library also comes equipped with a GridSearchCV library that can expand on our cross validation. We used cross_val to test our model based on a number of splits for training data. This cross validation showed us that with each different fold, the RMSE was very similar. We can now use GridSearchCV to see what parameters are best for our model.

In [38]:
# import the grid search cv
from surprise.model_selection import GridSearchCV

In [46]:
# set parameters to test 
param_grid = {
    'k': [10, 20, 30, 40, 50],
    'sim_options': {
    'name': ['cosine', 'pearson']
    },
    'verbose': ['True', 'False']
    }

In [49]:
# run grid search cv to be tested on our k neighbors params
gs = GridSearchCV(KNNWithMeans, param_grid, measures = ['rmse', 'mae'], cv = 5)

In [50]:
gs.fit(movie)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

After waiting for the previous gridsearchCV cell to execute (takes about 5-10 minutes), we can view our best params. The waiting time for this previous step is something to keep in mind. One challenge of a memory-based recommender system is that it is computationally expensive and can take a lot of time to run a model. For extremely large datasets that enterprises work with, a model-based approach to recommender systems is often required. Our results tell us that we should use k = 50 for the neighbors parameter (default is 40), and that the pearson similarity option is used to produce better results. This does not come as a surprise to us because the pearson similarity score is basically a centered cosine similarity score which is most often more accurate than the cosine similarity method. We also see that the user_based = true option gives us the best results. Unlike the similarity scores, this comes as a bit of a surprise to us because the item-based recommender systems normally have better results than the user-based recommender systems.

In [53]:
# view best params for rmse
best_params = gs.best_params['rmse']
best_params

{'k': 50,
 'sim_options': {'name': 'pearson', 'user_based': True},
 'verbose': 'True'}

In [54]:
# view best RMSE score after grid search
best_rmse = gs.best_score['rmse']
best_rmse

0.9493739430975392

In [56]:
# now that we have the best params we can fit this to our data for a final model
final_model = gs.best_estimator['rmse']
final_model.fit(movie.build_full_trainset())

Computing the pearson similarity matrix...
Done computing similarity matrix.

### Top 5 Recommended Movies

The predict method in the surprise library works by specifying a particular user id and item id that we want to make a prediction on. To get a prediction of the top 5 movies we have to train our model on the trainsetfull and then use the build_anti_testset feature. This will create a test set that is filled with all the movies our user did not rate. We will then create a function that will take the predictions and the number of movies we want returned. This function has been largely adapted from the surprise documentation and can be located here: https://surprise.readthedocs.io/en/stable/FAQ.html

In [58]:
from collections import defaultdict

In [59]:
def get_top_n(predictions, n=5):
    
    # map the predictions to each user 
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # sort the predictions for each user and retrieve the top 5 highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]
        
    # return the top 5
    return top_n


# train our KNNWithMeans algorithm on the full dataset as we did before
trainset = movie.build_full_trainset()
final_algo = KNNWithMeans()
final_algo.fit(trainset)

# predict ratings for all pairs user and item that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = final_algo.test(testset)

# call our function passing in the predictions and number we want
top_n = get_top_n(predictions, n=5)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

Computing the msd similarity matrix...
Done computing similarity matrix.
0 [814, 1233, 1368, 1367, 1347]
1 [814, 1467, 1500, 1536, 1599]
2 [814, 1467, 1500, 1536, 1599]
3 [814, 1536, 1467, 1500, 1599]
4 [172, 174, 64, 178, 251]
5 [814, 1463, 1536, 1467, 1599]
6 [814, 1467, 1500, 1536, 1599]
7 [814, 1189, 1293, 1398, 1449]
8 [814, 1463, 1467, 1500, 1536]
9 [172, 174, 114, 12, 119]
10 [119, 169, 318, 814, 851]
11 [814, 1500, 1536, 1467, 1599]
12 [64, 22, 178, 251, 272]
13 [1536, 1467, 1599, 1500, 1642]
14 [119, 814, 851, 1122, 1189]
15 [814, 1536, 1467, 1599, 1500]
16 [251, 272, 119, 169, 313]
17 [814, 1536, 1306, 1500, 1467]
18 [814, 1293, 1398, 1449, 1467]
19 [814, 1467, 1500, 1536, 1599]
20 [814, 1536, 1463, 1467, 1500]
21 [814, 1536, 1467, 1500, 1599]
22 [814, 1536, 1467, 1463, 1599]
23 [814, 1467, 1500, 1536, 1599]
24 [22, 251, 114, 197, 119]
25 [119, 814, 1189, 1293, 1367]
26 [814, 1536, 1467, 1500, 1599]
27 [814, 1536, 1500, 1467, 1599]
28 [814, 1467, 1500, 1536, 1599]
29 [814, 1467, 1500, 1536, 1599]
30 [814, 1467, 1500, 1536, 1599]
31 [814, 851, 1293, 1306, 1398]
32 [814, 1536, 1500, 1467, 1599]
33 [814, 1467, 1500, 1599, 1653]
34 [119, 320, 408, 814, 1189]
35 [814, 1467, 1599, 1500, 1449]
36 [814, 1449, 1467, 1500, 1599]
37 [814, 1467, 1500, 1536, 1599]
38 [814, 1467, 1500, 1536, 1599]
39 [814, 1467, 1500, 1536, 1599]
40 [814, 1536, 1467, 1500, 1599]
41 [814, 1467, 1500, 1536, 1599]
42 [814, 1293, 1467, 1500, 1536]
43 [814, 1467, 1500, 1536, 1599]
44 [814, 1467, 1500, 1536, 1599]
45 [814, 1463, 1467, 1536, 1599]
46 [119, 169, 408, 814, 851]
47 [814, 1467, 1500, 1536, 1599]
48 [814, 1293, 1367, 1467, 1500]
49 [814, 1536, 1500, 1467, 1599]
50 [814, 1467, 1536, 1500, 1599]
51 [814, 1233, 1463, 1467, 1536]
52 [251, 272, 119, 169, 408]
53 [814, 1463, 1467, 1500, 1536]
54 [814, 1467, 1500, 1536, 1599]
55 [814, 1536, 1467, 1599, 1500]
56 [814, 1467, 1500, 1536, 1599]
57 [814, 1467, 1536, 1500, 1599]
58 [814, 1398, 1449, 1467, 1500]
59 [814, 1189, 1293, 1398, 1449]
60 [119, 814, 851, 1189, 1235]
61 [814, 1536, 1500, 1467, 1599]
62 [814, 1536, 1467, 1500, 1599]
63 [814, 1536, 1467, 1500, 1599]
64 [814, 1467, 1500, 1536, 1599]
65 [814, 1189, 1293, 1398, 1463]
66 [814, 1536, 1467, 1500, 1599]
67 [814, 1463, 1467, 1500, 1536]
68 [814, 1536, 1467, 1500, 1599]
69 [814, 1293, 1398, 1449, 1467]
70 [814, 1536, 1467, 1599, 1500]
71 [814, 1467, 1500, 1536, 1599]
72 [814, 1293, 1463, 1467, 1500]
73 [814, 1467, 1500, 1536, 1599]
74 [814, 1467, 1500, 1536, 1599]
75 [814, 1536, 1467, 1500, 1599]
76 [814, 1467, 1500, 1536, 1599]
77 [814, 1467, 1500, 1536, 1599]
78 [814, 1536, 1500, 1467, 1599]
79 [814, 851, 1189, 1293, 1306]
80 [814, 1467, 1500, 1536, 1599]
81 [814, 1536, 1467, 1500, 1599]
82 [814, 1536, 1467, 1500, 1599]
83 [814, 1536, 1467, 1599, 1500]
84 [814, 1293, 1306, 1398, 1449]
85 [814, 1467, 1536, 1500, 1599]
86 [814, 1500, 1536, 1467, 1599]
87 [814, 1293, 1467, 1500, 1536]
88 [814, 1189, 1293, 1398, 1449]
89 [119, 814, 1189, 1293, 1367]
90 [119, 408, 814, 851, 1122]
91 [814, 1293, 1398, 1449, 1467]
92 [814, 1536, 1467, 1500, 1599]
93 [814, 1463, 1500, 1536, 1306]
94 [814, 1467, 1500, 1536, 1599]
95 [814, 1536, 1467, 1500, 1599]
96 [172, 251, 272, 12, 119]
97 [119, 814, 851, 1122, 1189]
98 [814, 1233, 1467, 1536, 1599]
99 [814, 1467, 1536, 1500, 1599]
100 [814, 1536, 1467, 1500, 1599]
101 [814, 1536, 1467, 1500, 1599]
102 [814, 1536, 1467, 1500, 1599]
103 [814, 1467, 1500, 1536, 1599]
104 [814, 1536, 1467, 1500, 1599]
105 [814, 1536, 1500, 1467, 1599]
106 [814, 1467, 1500, 1536, 1599]
107 [814, 1536, 1467, 1500, 1599]
108 [814, 1467, 1500, 1536, 1599]
109 [814, 1536, 1467, 1500, 1599]
110 [814, 1536, 1467, 1500, 1599]
111 [814, 1467, 1500, 1536, 1599]
112 [814, 1467, 1500, 1536, 1599]
113 [814, 1467, 1500, 1536, 1599]
114 [814, 1467, 1536, 1599, 1500]
115 [814, 1189, 1293, 1398, 1449]
116 [814, 1536, 1467, 1500, 1599]
117 [814, 1293, 1398, 1449, 1467]
118 [50, 124, 189, 238, 208]
119 [814, 1189, 1293, 1398, 1449]
120 [814, 1467, 1500, 1536, 1599]
121 [814, 1467, 1500, 1536, 1599]
122 [814, 1189, 1293, 1306, 1398]
123 [814, 1293, 1398, 1449, 1467]
124 [814, 1463, 1467, 1500, 1536]
125 [814, 1536, 1467, 1599, 1500]
126 [814, 1500, 1536, 1467, 1599]
127 [114, 119, 169, 408, 814]
128 [814, 1467, 1500, 1536, 1599]
129 [814, 1536, 1500, 1467, 1599]
130 [814, 1189, 1293, 1367, 1398]
131 [64, 119, 169, 408, 814]
132 [814, 1175, 1293, 1449, 1467]
133 [814, 1536, 1500, 1467, 1599]
134 [814, 1467, 1500, 1536, 1599]
135 [814, 1536, 1500, 1467, 1599]
136 [64, 251, 272, 114, 12]
137 [251, 114, 12, 119, 169]
138 [64, 251, 272, 199, 119]
139 [814, 1189, 1293, 1367, 1398]
140 [814, 1500, 1536, 1467, 1599]
141 [814, 1536, 1500, 1467, 1599]
142 [814, 1467, 1500, 1536, 1599]
143 [814, 1189, 1293, 1367, 1398]
144 [814, 1467, 1500, 1536, 1599]
145 [814, 1536, 1467, 1500, 1599]
146 [814, 1467, 1500, 1536, 1599]
147 [50, 64, 119, 169, 318]
148 [814, 1189, 1233, 1367, 1398]
149 [814, 1536, 1467, 1500, 1599]
150 [814, 1293, 1398, 1449, 1467]
151 [814, 851, 1189, 1293, 1367]
152 [50, 64, 251, 114, 119]
153 [814, 1536, 1500, 1467, 1599]
154 [814, 1189, 1293, 1367, 1398]
155 [814, 1536, 1500, 1467, 1599]
156 [814, 1467, 1500, 1536, 1599]
157 [814, 1467, 1500, 1536, 1599]
158 [814, 1293, 1467, 1500, 1536]
159 [814, 1536, 1500, 1467, 1599]
160 [814, 1293, 1398, 1449, 1467]
161 [814, 1536, 1467, 1500, 1599]
162 [814, 1467, 1500, 1536, 1599]
163 [814, 1536, 1467, 1500, 1599]
164 [119, 814, 1122, 1189, 1235]
165 [814, 1189, 1293, 1367, 1398]
166 [814, 1467, 1500, 1536, 1599]
167 [814, 1536, 1467, 1463, 1500]
168 [814, 1536, 1500, 1467, 1599]
169 [814, 1189, 1293, 1367, 1398]
170 [814, 1398, 1463, 1467, 1500]
171 [814, 1500, 1536, 1467, 1599]
172 [814, 1463, 1536, 1467, 1500]
173 [114, 12, 119, 169, 814]
174 [814, 1467, 1500, 1536, 1599]
175 [814, 1463, 1467, 1500, 1536]
176 [814, 1467, 1500, 1536, 1599]
177 [814, 1467, 1500, 1536, 1599]
178 [814, 1467, 1500, 1536, 1599]
179 [814, 1536, 1467, 1500, 1599]
180 [814, 1189, 1293, 1398, 1463]
181 [814, 1536, 1467, 1599, 1500]
182 [814, 1233, 1398, 1463, 1467]
183 [814, 1536, 1500, 1467, 1599]
184 [814, 1467, 1500, 1536, 1599]
185 [119, 814, 1189, 1293, 1306]
186 [814, 1536, 1467, 1500, 1599]
187 [313, 318, 814, 1175, 1189]
188 [814, 1467, 1500, 1536, 1599]
189 [814, 1189, 1293, 1306, 1398]
190 [814, 1536, 1467, 1500, 1599]
191 [814, 1467, 1500, 1536, 1599]
192 [814, 1467, 1536, 1500, 1599]
193 [814, 1536, 1467, 1500, 1599]
194 [814, 1536, 1467, 1500, 1599]
195 [814, 1536, 1467, 1599, 1500]
196 [814, 1467, 1500, 1536, 1599]
197 [814, 1536, 1467, 1500, 1599]
198 [814, 1536, 1467, 1500, 1599]
199 [814, 1536, 1500, 1467, 1599]
200 [119, 814, 1189, 1293, 1398]
201 [814, 1536, 1467, 1500, 1599]
202 [814, 1536, 1500, 1467, 1599]
203 [814, 1536, 1500, 1467, 1599]
204 [814, 1536, 1467, 1500, 1599]
205 [814, 1536, 1467, 1500, 1599]
206 [814, 1536, 1500, 1467, 1599]
207 [814, 1536, 1467, 1500, 1599]
208 [814, 1293, 1467, 1500, 1536]
209 [814, 1536, 1467, 1599, 1500]
210 [119, 814, 1189, 1293, 1367]
211 [814, 1536, 1500, 1467, 1599]
212 [814, 1306, 1367, 1398, 1449]
213 [119, 169, 814, 851, 1122]
214 [814, 1293, 1398, 1449, 1467]
215 [814, 1467, 1500, 1536, 1599]
216 [814, 1467, 1500, 1536, 1599]
217 [814, 1536, 1500, 1467, 1599]
218 [814, 1467, 1500, 1536, 1599]
219 [814, 1467, 1500, 1536, 1599]
220 [814, 1398, 1467, 1500, 1536]
221 [814, 1467, 1500, 1536, 1599]
222 [814, 1536, 1467, 1500, 1599]
223 [814, 1536, 1467, 1500, 1599]
224 [814, 1536, 1467, 1500, 1599]
225 [50, 174, 23, 269, 96]
226 [814, 1293, 1467, 1500, 1536]
227 [814, 1536, 1467, 1599, 1500]
228 [814, 1536, 1500, 1467, 1599]
229 [814, 1536, 1467, 1500, 1599]
230 [814, 1398, 1463, 1449, 1467]
231 [814, 1467, 1500, 1536, 1599]
232 [814, 1293, 1398, 1449, 1467]
233 [22, 251, 119, 169, 315]
234 [814, 1536, 1467, 1500, 1599]
235 [814, 1189, 1293, 1306, 1398]
236 [814, 1536, 1467, 1500, 1599]
237 [272, 119, 313, 814, 851]
238 [814, 1536, 1500, 1467, 1599]
239 [127, 119, 169, 302, 408]
240 [814, 1467, 1500, 1536, 1599]
241 [814, 1500, 1536, 1467, 1599]
242 [50, 172, 174, 189, 64]
243 [814, 1467, 1500, 1536, 1599]
244 [814, 1500, 1536, 1599, 1642]
245 [814, 1536, 1467, 1500, 1599]
246 [814, 1536, 1467, 1599, 1500]
247 [814, 1189, 1293, 1398, 1449]
248 [814, 1467, 1500, 1536, 1599]
249 [119, 814, 851, 1122, 1189]
250 [814, 1467, 1500, 1536, 1599]
251 [814, 1467, 1500, 1536, 1599]
252 [172, 174, 23, 64, 8]
253 [814, 1189, 1293, 1306, 1398]
254 [814, 1536, 1467, 1599, 1500]
255 [814, 1536, 1467, 1500, 1599]
256 [814, 1189, 1293, 1398, 1463]
257 [119, 814, 1189, 1293, 1306]
258 [814, 1467, 1500, 1536, 1599]
259 [814, 1293, 1398, 1449, 1467]
260 [814, 1064, 1189, 1293, 1306]
261 [64, 114, 814, 1064, 1125]
262 [814, 1536, 1500, 1467, 1599]
263 [119, 814, 1189, 1293, 1306]
264 [272, 119, 169, 318, 483]
265 [814, 1467, 1500, 1536, 1599]
266 [814, 1536, 1467, 1500, 1599]
267 [814, 1189, 1293, 1398, 1449]
268 [814, 1536, 1467, 1500, 1599]
269 [814, 1536, 1467, 1500, 1599]
270 [119, 169, 408, 483, 814]
271 [814, 1467, 1536, 1599, 1500]
272 [64, 182, 251, 272, 114]
273 [814, 1367, 1467, 1500, 1491]
274 [119, 814, 1189, 1293, 1306]
275 [814, 1536, 1467, 1500, 1599]
276 [814, 1536, 1467, 1500, 1599]
277 [814, 1500, 1536, 1467, 1599]
278 [64, 178, 187, 272, 114]
279 [814, 1536, 1467, 1599, 1642]
280 [814, 1467, 1500, 1536, 1599]
281 [814, 1536, 1467, 1500, 1599]
282 [814, 1500, 1536, 1467, 1599]
283 [119, 814, 851, 1122, 1189]
284 [814, 1467, 1500, 1536, 1599]
285 [814, 1293, 1398, 1449, 1467]
286 [814, 1467, 1500, 1536, 1599]
287 [119, 814, 1122, 1189, 1235]
288 [814, 1293, 1398, 1449, 1467]
289 [814, 1463, 1500, 1536, 1467]
290 [814, 1536, 1463, 1467, 1500]
291 [814, 1463, 1467, 1500, 1536]
292 [251, 12, 119, 814, 851]
293 [814, 1536, 1467, 1599, 1500]
294 [814, 1536, 1467, 1500, 1599]
295 [251, 119, 169, 814, 851]
296 [119, 408, 814, 851, 1122]
297 [814, 1536, 1467, 1500, 1599]
298 [814, 851, 1189, 1293, 1367]
299 [814, 1536, 1467, 1500, 1599]
300 [814, 1463, 1467, 1500, 1536]
301 [814, 1467, 1536, 1500, 1599]
302 [814, 1467, 1500, 1599, 1642]
303 [814, 1536, 1467, 1500, 1599]
304 [814, 1536, 1500, 1467, 1599]
305 [814, 1536, 1467, 1500, 1599]
306 [814, 1293, 1467, 1500, 1536]
307 [814, 1467, 1500, 1536, 1599]
308 [814, 1467, 1500, 1536, 1599]
309 [814, 1500, 1536, 1599, 1642]
310 [814, 1293, 1398, 1449, 1467]
311 [814, 1467, 1500, 1536, 1599]
312 [251, 272, 12, 119, 285]
313 [814, 1463, 1467, 1536, 1599]
314 [814, 1467, 1500, 1536, 1599]
315 [119, 814, 851, 1189, 1293]
316 [814, 1536, 1500, 1467, 1599]
317 [814, 1467, 1500, 1599, 1293]
318 [814, 1467, 1500, 1536, 1599]
319 [814, 1467, 1500, 1491, 1536]
320 [814, 1467, 1500, 1536, 1599]
321 [814, 1293, 1467, 1500, 1536]
322 [119, 408, 814, 851, 1122]
323 [814, 1467, 1500, 1536, 1599]
324 [172, 64, 178, 251, 272]
325 [814, 1536, 1500, 1467, 1599]
326 [814, 1463, 1536, 1233, 1467]
327 [814, 1536, 1467, 1500, 1599]
328 [814, 1536, 1467, 1500, 1599]
329 [814, 1536, 1467, 1500, 1599]
330 [87, 170, 79, 178, 251]
331 [814, 1467, 1500, 1536, 1599]
332 [119, 814, 851, 1122, 1189]
333 [814, 1293, 1398, 1467, 1500]
334 [814, 1467, 1536, 1500, 1599]
335 [814, 1467, 1500, 1536, 1599]
336 [814, 1536, 1467, 1500, 1599]
337 [814, 1189, 1293, 1398, 1463]
338 [814, 851, 1189, 1293, 1367]
339 [814, 1189, 1293, 1398, 1449]
340 [64, 251, 119, 318, 320]
341 [814, 868, 1368, 1398, 1467]
342 [814, 1536, 1467, 1500, 1599]
343 [814, 1189, 1293, 1398, 1449]
344 [814, 1467, 1500, 1536, 1599]
345 [814, 1467, 1500, 1536, 1599]
346 [814, 1536, 1467, 1599, 1500]
347 [814, 1467, 1500, 1536, 1599]
348 [814, 1293, 1398, 1449, 1467]
349 [814, 1536, 1467, 1599, 1463]
350 [64, 134, 178, 251, 272]
351 [119, 318, 320, 814, 1064]
352 [814, 1293, 1467, 1500, 1536]
353 [814, 1500, 1536, 1467, 1599]
354 [814, 1467, 1500, 1536, 1599]
355 [318, 814, 851, 1189, 1235]
356 [814, 1467, 1500, 1536, 1599]
357 [119, 814, 851, 1122, 1175]
358 [814, 1293, 1306, 1467, 1500]
359 [119, 814, 1189, 1293, 1398]
360 [814, 1189, 1293, 1398, 1449]
361 [814, 1467, 1500, 1536, 1599]
362 [814, 1536, 1467, 1500, 1599]
363 [814, 1536, 1467, 1500, 1599]
364 [814, 1536, 1467, 1500, 1599]
365 [814, 1536, 1467, 1500, 1599]
366 [50, 64, 134, 127, 178]
367 [119, 814, 1122, 1189, 1235]
368 [814, 1536, 1467, 1500, 1599]
369 [119, 169, 408, 814, 1189]
370 [814, 1293, 1467, 1500, 1536]
371 [814, 851, 1122, 1189, 1233]
372 [119, 318, 320, 603, 814]
373 [814, 1293, 1467, 1500, 1536]
374 [814, 1536, 1467, 1500, 1599]
375 [814, 1467, 1500, 1536, 1599]
376 [814, 1467, 1500, 1536, 1599]
377 [814, 1293, 1398, 1449, 1467]
378 [814, 1536, 1467, 1500, 1599]
379 [814, 1189, 1293, 1398, 1449]
380 [814, 1536, 1467, 1500, 1599]
381 [814, 1398, 1467, 1500, 1536]
382 [814, 1536, 1467, 1500, 1599]
383 [174, 64, 127, 178, 251]
384 [12, 119, 318, 814, 1064]
385 [814, 1500, 1467, 1599, 1642]
386 [814, 1463, 1467, 1500, 1536]
387 [814, 1536, 1467, 1599, 1500]
388 [119, 814, 1122, 1189, 1235]
389 [814, 1467, 1500, 1536, 1599]
390 [814, 1293, 1398, 1449, 1467]
391 [814, 1467, 1500, 1536, 1599]
392 [814, 851, 1189, 1293, 1367]
393 [814, 1536, 1467, 1500, 1599]
394 [814, 1398, 1449, 1467, 1500]
395 [814, 1293, 1398, 1449, 1467]
396 [814, 1536, 1467, 1500, 1599]
397 [814, 1467, 1500, 1536, 1599]
398 [814, 1467, 1500, 1536, 1599]
399 [814, 1536, 1467, 1500, 1599]
400 [814, 1467, 1500, 1536, 1599]
401 [814, 1536, 1467, 1500, 1599]
402 [814, 1398, 1449, 1467, 1500]
403 [814, 1467, 1500, 1536, 1599]
404 [814, 1536, 1467, 1500, 1599]
405 [814, 1536, 1467, 1599, 1500]
406 [814, 1467, 1536, 1500, 1599]
407 [814, 1536, 1467, 1500, 1599]
408 [814, 1367, 1467, 1500, 1536]
409 [814, 1467, 1500, 1536, 1599]
410 [814, 1536, 1467, 1500, 1599]
411 [814, 1293, 1463, 1467, 1500]
412 [814, 1189, 1293, 1398, 1449]
413 [814, 1467, 1500, 1536, 1599]
414 [814, 1293, 1398, 1467, 1500]
415 [119, 169, 408, 814, 1122]
416 [814, 1293, 1398, 1449, 1467]
417 [814, 1536, 1500, 1467, 1599]
418 [814, 1536, 1500, 1599, 1467]
419 [251, 272, 119, 313, 318]
420 [272, 119, 169, 483, 814]
421 [814, 1449, 1467, 1500, 1536]
422 [814, 1536, 1500, 1467, 1599]
423 [814, 1467, 1500, 1536, 1599]
424 [814, 1536, 1467, 1500, 1599]
425 [814, 1536, 1467, 1599, 1500]
426 [814, 1398, 1463, 1449, 1467]
427 [50, 172, 174, 132, 189]
428 [814, 851, 1293, 1367, 1398]
429 [814, 1536, 1467, 1500, 1599]
430 [814, 1467, 1500, 1536, 1599]
431 [814, 1536, 1500, 1467, 1599]
432 [814, 1467, 1500, 1536, 1554]
433 [814, 1467, 1500, 1536, 1599]
434 [814, 1463, 1467, 1500, 1536]
435 [814, 1536, 1467, 1500, 1599]
436 [814, 1467, 1500, 1536, 1599]
437 [814, 1467, 1536, 1500, 1642]
438 [814, 1189, 1293, 1367, 1398]
439 [814, 1467, 1500, 1536, 1599]
440 [50, 172, 119, 169, 814]
441 [814, 1467, 1500, 1536, 1599]
442 [814, 1536, 1467, 1500, 1599]
443 [814, 1536, 1500, 1467, 1554]
444 [814, 1293, 1467, 1500, 1536]
445 [814, 1536, 1500, 1467, 1599]
446 [814, 1536, 1500, 1467, 1599]
447 [814, 1467, 1500, 1536, 1599]
448 [814, 1536, 1467, 1500, 1599]
449 [814, 1306, 1467, 1500, 1536]
450 [814, 1293, 1398, 1449, 1467]
451 [814, 1536, 1500, 1467, 1599]
452 [814, 1536, 1467, 1500, 1599]
453 [814, 1536, 1467, 1500, 1599]
454 [814, 1536, 1467, 1500, 1599]
455 [814, 1467, 1536, 1500, 1599]
456 [814, 1536, 1467, 1500, 1599]
457 [119, 814, 1189, 1293, 1398]
458 [814, 1467, 1500, 1536, 1599]
459 [814, 1536, 1500, 1467, 1599]
460 [814, 1536, 1467, 1500, 1599]
461 [814, 1536, 1500, 1467, 1599]
462 [814, 1189, 1293, 1367, 1398]
463 [814, 1536, 1467, 1500, 1599]
464 [119, 814, 851, 1189, 1293]
465 [814, 1536, 1500, 1467, 1599]
466 [814, 1536, 1467, 1500, 1599]
467 [814, 1467, 1500, 1536, 1599]
468 [814, 1189, 1293, 1306, 1398]
469 [50, 172, 174, 198, 23]
470 [814, 1467, 1500, 1536, 1599]
471 [814, 1463, 1536, 1500, 1467]
472 [251, 119, 814, 851, 1122]
473 [814, 1189, 1293, 1367, 1398]
474 [119, 814, 851, 1189, 1235]
475 [814, 1467, 1536, 1599, 1500]
476 [814, 1536, 1500, 1467, 1599]
477 [50, 174, 189, 64, 170]
478 [814, 1536, 1467, 1500, 1599]
479 [814, 1536, 1467, 1500, 1599]
480 [814, 1293, 1467, 1500, 1536]
481 [814, 1189, 1293, 1398, 1449]
482 [814, 1536, 1467, 1500, 1599]
483 [814, 1536, 1467, 1500, 1599]
484 [814, 1189, 1293, 1398, 1449]
485 [814, 1536, 1467, 1599, 1500]
486 [814, 1536, 1467, 1599, 1500]
487 [814, 1467, 1500, 1536, 1599]
488 [814, 1536, 1467, 1500, 1599]
489 [814, 1467, 1500, 1536, 1599]
490 [814, 1536, 1467, 1599, 1500]
491 [814, 1306, 1398, 1467, 1500]
492 [814, 1467, 1500, 1536, 1599]
493 [814, 1467, 1500, 1536, 1599]
494 [814, 1398, 1449, 1467, 1500]
495 [814, 1189, 1293, 1367, 1398]
496 [814, 1536, 1467, 1500, 1599]
497 [814, 1536, 1467, 1500, 1599]
498 [814, 1536, 1467, 1500, 1599]
499 [814, 1293, 1398, 1449, 1467]
500 [814, 1536, 1500, 1467, 1599]
501 [814, 1467, 1500, 1536, 1599]
502 [814, 1467, 1500, 1599, 1653]
503 [119, 814, 1189, 1293, 1306]
504 [814, 1467, 1500, 1536, 1599]
505 [814, 1536, 1500, 1467, 1599]
506 [814, 1467, 1500, 1536, 1599]
507 [172, 82, 174, 198, 132]
508 [814, 1293, 1398, 1449, 1467]
509 [814, 1536, 1467, 1599, 1500]
510 [814, 1536, 1467, 1500, 1599]
511 [814, 1467, 1500, 1536, 1599]
512 [172, 64, 8, 134, 251]
513 [172, 174, 64, 113, 251]
514 [814, 1293, 1398, 1449, 1467]
515 [814, 1536, 1500, 1467, 1599]
516 [119, 408, 814, 851, 1122]
517 [814, 1536, 1467, 1500, 1599]
518 [814, 1463, 1467, 1500, 1536]
519 [119, 318, 320, 483, 814]
520 [814, 1491, 1536, 1500, 1467]
521 [814, 1536, 1467, 1500, 1599]
522 [50, 172, 124, 174, 64]
523 [251, 272, 12, 119, 318]
524 [814, 1536, 1467, 1500, 1599]
525 [814, 1536, 1500, 1467, 1599]
526 [814, 1536, 1467, 1500, 1599]
527 [814, 1293, 1398, 1449, 1467]
528 [814, 1467, 1500, 1536, 1599]
529 [814, 1467, 1500, 1536, 1599]
530 [814, 1293, 1306, 1398, 1463]
531 [814, 1536, 1467, 1500, 1599]
532 [119, 814, 851, 1122, 1235]
533 [814, 1536, 1467, 1500, 1599]
534 [119, 814, 1189, 1235, 1293]
535 [814, 1189, 1293, 1306, 1398]
536 [814, 1293, 1398, 1463, 1449]
537 [814, 1536, 1467, 1500, 1599]
538 [814, 1467, 1500, 1536, 1599]
539 [814, 1189, 1293, 1306, 1367]
540 [814, 1467, 1500, 1536, 1599]
541 [814, 1467, 1500, 1536, 1599]
542 [814, 1536, 1467, 1500, 1599]
543 [814, 1467, 1536, 1599, 1500]
544 [814, 1536, 1467, 1500, 1599]
545 [814, 1467, 1536, 1599, 1500]
546 [814, 1293, 1398, 1449, 1467]
547 [814, 1467, 1500, 1536, 1599]
548 [814, 1467, 1500, 1536, 1599]
549 [814, 1467, 1500, 1536, 1599]
550 [814, 1467, 1500, 1536, 1599]
551 [814, 1293, 1467, 1500, 1536]
552 [814, 1536, 1500, 1467, 1599]
553 [272, 119, 408, 814, 851]
554 [814, 1467, 1500, 1536, 1599]
555 [814, 1189, 1293, 1367, 1398]
556 [272, 119, 515, 480, 814]
557 [814, 1467, 1500, 1536, 1599]
558 [64, 272, 12, 119, 169]
559 [814, 1467, 1500, 1536, 1599]
560 [814, 1536, 1467, 1500, 1599]
561 [814, 1536, 1467, 1500, 1599]
562 [814, 1467, 1536, 1500, 1599]
563 [814, 1293, 1467, 1500, 1536]
564 [814, 1536, 1500, 1467, 1599]
565 [50, 172, 174, 189, 269]
566 [814, 1536, 1467, 1500, 1599]
567 [814, 851, 1189, 1293, 1367]
568 [814, 1536, 1467, 1500, 1599]
569 [814, 1500, 1536, 1467, 1599]
570 [814, 1536, 1467, 1599, 1500]
571 [814, 1463, 1536, 1467, 1233]
572 [814, 1536, 1306, 1500, 1467]
573 [814, 1293, 1467, 1500, 1536]
574 [814, 1467, 1500, 1536, 1599]
575 [814, 1536, 1500, 1467, 1599]
576 [814, 1463, 1467, 1536, 1500]
577 [814, 1467, 1500, 1536, 1599]
578 [814, 1536, 1467, 1500, 1599]
579 [814, 1536, 1467, 1500, 1599]
580 [814, 1467, 1500, 1536, 1554]
581 [814, 1189, 1293, 1306, 1398]
582 [814, 1536, 1467, 1599, 1500]
583 [124, 23, 64, 134, 127]
584 [814, 1467, 1536, 1500, 1599]
585 [814, 1467, 1500, 1536, 1599]
586 [814, 1536, 1467, 1500, 1599]
587 [814, 1536, 1467, 1500, 1599]
588 [814, 1467, 1500, 1536, 1599]
589 [814, 1536, 1467, 1500, 1599]
590 [814, 1500, 1536, 1467, 1599]
591 [814, 1293, 1467, 1500, 1536]
592 [814, 1293, 1398, 1467, 1500]
593 [814, 1467, 1500, 1536, 1599]
594 [814, 1536, 1467, 1500, 1599]
595 [814, 1536, 1467, 1599, 1500]
596 [814, 1467, 1500, 1536, 1599]
597 [814, 1467, 1500, 1536, 1599]
598 [814, 1467, 1500, 1536, 1599]
599 [814, 1293, 1398, 1463, 1467]

In [76]:
# top 5 recommended movies for user 0.
print(top_n[0])

[(814, 5), (1233, 5), (1368, 5), (1367, 5), (1347, 5)]

In [81]:
# View movie ID 814
data.loc[data['item_id'] == 814]

       user_id  item_id  rating                          title
96402       13      814       5  Great Day in Harlem, A (1994)

In [83]:
# View movie ID 1233
data.loc[data['item_id'] == 1233]

       user_id  item_id  rating                   title
99784      100     1233       3  Nénette et Boni (1996)
99786      139     1233       5  Nénette et Boni (1996)
99789      206     1233       1  Nénette et Boni (1996)
99787      355     1233       4  Nénette et Boni (1996)
99785      637     1233       5  Nénette et Boni (1996)
99788      655     1233       3  Nénette et Boni (1996)

In [86]:
# View movie ID 1368
data.loc[data['item_id'] == 1368]

       user_id  item_id  rating                   title
97250      181     1368       1  Mina Tannenbaum (1994)
97247      243     1368       2  Mina Tannenbaum (1994)
97246      342     1368       5  Mina Tannenbaum (1994)
97248      655     1368       5  Mina Tannenbaum (1994)
97251      858     1368       4  Mina Tannenbaum (1994)
97249      936     1368       5  Mina Tannenbaum (1994)

In [87]:
# View movie ID 1367
data.loc[data['item_id'] == 1367]

       user_id  item_id  rating         title
97760      181     1367       2  Faust (1994)
97759      385     1367       5  Faust (1994)
97761      449     1367       4  Faust (1994)
97763      581     1367       5  Faust (1994)
97762      773     1367       5  Faust (1994)

In [88]:
# View movie ID 1347
data.loc[data['item_id'] == 1347]

,user_id,item_id,rating,title
94190,181,1347,1,"Ballad of Narayama, The (Narayama Bushiko) (1958)"
94193,420,1347,3,"Ballad of Narayama, The (Narayama Bushiko) (1958)"
94191,430,1347,5,"Ballad of Narayama, The (Narayama Bushiko) (1958)"
94192,585,1347,2,"Ballad of Narayama, The (Narayama Bushiko) (1958)"

Now we have created a list of the top 5 movie ratings prediction for every user. The first user is projected to give a 5 rating to the following movies: 
- A Great Day in Harlem
- Nénette et Boni
- Mina Tannenbaum
- Faust
- Ballad of Narayama, The (Narayama Bushiko)